.acc{
    margin-bottom: 20px;
}
.infor, .inforpage{
    display: flex;
}

.infor .image1{
    flex: 4;
}

.infor .updateimage{
    flex: 1;
    
}
.infor .updateimage input{
    gap: 2px;
    height: 30px;
    cursor: pointer;
    font-size: 14px;
}
.inforpage{
    justify-content: space-between;
}

.iconpage i{
    margin: 0 8px;
    margin-bottom: 10px;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid rgb(223, 217, 217);
    border-radius: 50%;
    padding: 6px;
    color: rgb(77, 75, 75);
}
#Save{
    margin-top: 10px;
}
h4 {
    font-weight: normal;
    margin-top: 2vh;
  }
 
.p-inputtextarea 
{
    height: 49px;
}
.container_update{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media screen and (max-width: 450px) {
    .container_update {
        flex-direction: column;
        justify-content: flex-start;
    }
  }